In [65]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pymongo
import re
import time

In [66]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [67]:
# Define database and collection
db = client.nba
collection = db.items

In [68]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Scrape NBA Team

In [69]:
# URL
url = 'https://www.basketball-reference.com/teams/TOR/2019.html'
browser.visit(url)

## Try pandas again

In [35]:
dfs = pd.read_html(url)
for df in dfs:
    print(df.head(5))

   No.              Player Pos   Ht   Wt       Birth Date Unnamed: 6 Exp  \
0   17   Jonas Valanciunas   C  7-0  265      May 6, 1992         lt   6
1   55        Delon Wright  PG  6-5  183   April 26, 1992         us   3
2    2       Kawhi Leonard  SF  6-7  230    June 29, 1991         us   7
3   14         Danny Green  SG  6-6  215    June 22, 1987         us   9
4   22  Malachi Richardson  SG  6-6  205  January 5, 1996         us   2

                        College
0                           NaN
1            University of Utah
2    San Diego State University
3  University of North Carolina
4           Syracuse University

## Try lxml again

In [ ]:
url = "https://www.basketball-reference.com/teams/TOR/2019.html"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'lxml')
for trow in soup.select("table#team_and_opponent_clone"):
    data = [[' '.join(item.text.split()) for item in tcel.select("td")]
            for tcel in trow.select("tr")]
    print(data)

## Try lxml

In [55]:
import urllib
import bs4 as bs

sauce = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(sauce, 'lxml')

In [56]:
table = soup.find('table#team_and_opponent_clone')
table

## Try overstack

In [57]:
import urllib

html_table = urllib.request.urlopen(url).read()

# fix HTML
soup = BeautifulSoup(html_table, "html.parser")
# warn! id ratings-table is your page specific
for table in soup.findChildren(attrs={'id': 'team_and_opponent_clone'}): 
    for c in table.children:
        if c.name in ['tbody', 'thead']:
            c.unwrap()

df = pd.read_html(str(soup), flavor="bs4")
len(df[0])
df

[    No.              Player Pos    Ht   Wt          Birth Date   Â  Exp  \
 0    17   Jonas Valanciunas   C   7-0  265         May 6, 1992  lt   6
 1    55        Delon Wright  PG   6-5  183      April 26, 1992  us   3
 2     2       Kawhi Leonard  SF   6-7  230       June 29, 1991  us   7
 3    14         Danny Green  SG   6-6  215       June 22, 1987  us   9
 4    22  Malachi Richardson  SG   6-6  205     January 5, 1996  us   2
 5    43       Pascal Siakam  PF   6-9  230       April 2, 1994  cm   2
 6     3          OG Anunoby  SF   6-8  232       July 17, 1997  gb   1
 7     0          C.J. Miles  SF   6-6  220      March 18, 1987  us  13
 8     7          Kyle Lowry  PG   6-1  196      March 25, 1986  us  12
 9     9         Serge Ibaka   C  6-10  235  September 18, 1989  cg   9
 10   24       Norman Powell  SG   6-4  215        May 25, 1993  us   3
 11   23       Fred VanVleet  PG   6-0  195   February 25, 1994  us   2
 12    4       Lorenzo Brown  PG   6-5  189     August 26, 1990  us   4
 13   25  Chris Boucher (TW)  PF  6-10  200    January 11, 1993  lc   1
 14   15         Greg Monroe   C  6-11  265        June 4, 1990  us   8
 15    8    Jordan Loyd (TW)  PG   6-4  210       July 27, 1993  us   R

                                           College
 0                                             NaN
 1                              University of Utah
 2                      San Diego State University
 3                    University of North Carolina
 4                             Syracuse University
 5                     New Mexico State University
 6                              Indiana University
 7                                             NaN
 8                            Villanova University
 9                                             NaN
 10          University of California, Los Angeles
 11                       Wichita State University
 12                North Carolina State University
 13                           University of Oregon
 14                          Georgetown University
 15  Furman University, University of Indianapolis  ]

In [61]:
#Path to get titles of articles
tbl_div = 'team_and_opponent_clone'

#Reading the results  
table = pd.read_html(browser.find_by_id('team_and_opponent_clone'))
table

TypeError: Cannot read object of type 'ElementList'

## Bs tr scrape

In [73]:
from bs4 import BeautifulSoup
import requests
a = requests.get("https://www.basketball-reference.com/teams/TOR/2019.html")
soup = BeautifulSoup(a.text, 'lxml')
# searching for the rows directly
rows = soup.findAll('th', {'class': 'poptip'})
# you will need to isolate elements in the row for the table
for row in rows:
    print(row.text)

No.
Player
Pos
Ht
Wt
Birth Date
Â
Exp
College

## Pandas Scrape Table

In [74]:
# We visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet
import pandas as pd
r = requests.get('https://www.basketball-reference.com/teams/TOR/2019.html')
text = 
tables = pd.read_html(r.text, header=0)[1]
tables

SyntaxError: invalid syntax (<ipython-input-74-56f64f133865>, line 4)

## Table to DF

In [7]:
# Now let's slice off the dataframe using normal indexing.
df = tables[0]
df.columns = ['Col1', 'Col2']
df.set_index('Col1', inplace=True)
df

ValueError: Length mismatch: Expected axis has 9 elements, new values have 2 elements

## Scrape NASA News

In [5]:
# URL
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [6]:
#Path to get titles of articles
title = '//div[@class="content_title"]/a'

#Reading the results  
nasa_title = browser.find_by_xpath(title).first.text

In [7]:
#Scrape teaser

teaser = '//div[@class="article_teaser_body"]'
nasa_teaser = browser.find_by_xpath(teaser).first.text

## JPL Mars Space Images - Featured Image

In [8]:
#JPL full-image
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)
browser.find_by_id('full_image').click()
featured_image_url = browser.find_by_css('.fancybox-image').first['src']
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA20263_ip.jpg'

## Twitter Weather

In [ ]:
#Mars twitter
twitter = "https://twitter.com/marswxreport?lang=en"
response = requests.get(twitter)

# Create BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# find a weather tweet
mars_weather=soup.find(string=re.compile(", high"))
print(mars_weather)

## Mars Facts

In [ ]:
# We visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet
import pandas as pd
marsfacts = 'https://space-facts.com/mars/'
tables = pd.read_html(marsfacts)
tables

In [ ]:
# Now let's slice off the dataframe using normal indexing.
df = tables[0]
df.columns = ['Col1', 'Col2']
df.set_index('Col1', inplace=True)
df

In [ ]:
#Converting the data to a HTML table string and stripping unwanted newlines to clean up the table

mars_html = df.to_html()
mars_html.replace("\n", " ")

## Mars Hemispheres

In [11]:
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
hemisphere_image_urls = []
browser.visit(usgs_url)
for i in range(4):
    dictionary = {}
    hemis = browser.find_by_tag('h3')[i].text
    browser.find_by_css('.thumb')[i].click()
    img = browser.find_by_text('Sample')['href']
    browser.back()
    dictionary['hemisphere'] = hemis
    dictionary['img'] = img
    hemisphere_image_urls.append(dictionary)
print(hemisphere_image_urls)

[{'hemisphere': 'Cerberus Hemisphere Enhanced', 'img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'hemisphere': 'Schiaparelli Hemisphere Enhanced', 'img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'hemisphere': 'Syrtis Major Hemisphere Enhanced', 'img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'hemisphere': 'Valles Marineris Hemisphere Enhanced', 'img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
import shutil
import requests
for img in images_url:
    response = requests.get(img, stream=True) 
    with open('img.jpg', 'wb') as out_file:
        shutil.copyfileobj(response.raw, out_file)

In [ ]:
# Displaying the first image with IPython.display
from IPython.display import Image
Image(url='img.jpg')